# ===== Node / Next.js =====
node_modules/
.next/
out/
dist/

# ===== Environment variables =====
.env
.env.*
!.env.example

# ===== Logs =====
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ===== Prisma =====
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/**/migration_lock.toml

# ===== Uploads / media (root folder) =====
uploads/
tmp/
temp/

# ===== Media files =====
*.mp3
*.wav
*.mp4

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== IDE / Editor =====
.vscode/
.idea/
*.swp

# ===== * =====
clips
Logs
